*{
    margin: 0;
    padding: 0;
}
#getstarted{
    color:#eeeeee;
    background: #0984e3;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top:8%;
    margin-left: 40%;
    border-radius: 25px;
}
#logout-link{
    cursor: pointer;
}
#getstarted:hover{
    background: white;
    color: black;
}
.title{
    background:#50025d;
    font-size: 1.3rem;
   color:#eeeeee;
   padding: 4px 10px;
   border-radius: 15px;
}
nav{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

#indexpage{
    background-image: url("../img/quizgraphic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#welcomepage{
    background-image: url("../img/background-dots-pattern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#form-background{
    
    background-image: url("../img/mandala-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    color:white;
    margin-top: 100px;
}
/* footer.container{
    margin-top: 150px;
    margin-left: 25%;
} */
#playgame{
    margin-top:8%;
    margin-left: 40%;
}
.msg{
    color:#eeeeee;
    margin: 10% 10%; 
} 
.msg_pre{
    color:#eeeeee;
    margin: -10px 30%;
} 
.msg,.msg_pre{
    font-size: 1.5rem;
    font-family: sans-serif;
}

 /* dashboard css  */
.hide-content{
    display: none;
}
div.hide-content .edit{
    display: initial;
}
/* dashboard css ends here */

#frontPagination{
    margin-left: 50%;
    margin-top: 20px;
}
#backPagination{
    margin-left: 20%;
    margin-top: 20px;
}

/* the game categories index page */
p#msg{
    margin-top: 25px;
  }
  

/* radio button */
#optiontype{
    size: 4rem;
    color: aqua;
}

/*create questions  */
#submitquestion{
    /* margin-top: 10px; */
    font-size: 1.8rem;
    color:#3c40c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#createbtn{
    margin-top: 25px;
    border-radius: 25px;
    color: white;
    background-color: rgb(140,67,255);
}

#createbtn:hover{
    background-color: white;
    color:black;
}
#display_alert{
    font-size: 1rem;
    margin-top:  10px;
}
/* index game image */
.img-hover-zoom img{
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
}

  .img-container {
    /* height: 300px; */
    float: right;
    margin-top: 25px;
    overflow: hidden; 
  }
  .img-hover-zoom:hover img{
    filter: brightness(100%);
    transform: scale(1.2);
}
/* game styling */
.totalscore{
    margin-left: 50%;
    margin-top: 15px;
}
.total{
    margin-left: 50%;

}
#outcome{
    margin-top: 30px;
    margin-left: 30%;
}


a.tending-quiz{
    color:#b5e5f3;
}
h6#quiz-top{
    color:#fd8066;
}

/* sidebar */
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow-x: hidden;
  }


.instruction{
    background: #eeeeee;
    margin-top: 15px;
    margin-left: 10%;
}

.nav_link_item{
    color: rgb(238,238,238);
}
.nav_link_item:hover{
    background: #5c4fa1;
    border-radius: 20px;
    color: black;
}

.sign_footer{
    background: #84b7ca;
    color:black;
    border-radius: 25px;
}

.sign_footer:hover{
    background: whitesmoke;
    color:black;
}

h3.top-story{
    margin-top: 50px;
    padding: 3px 10px;
    color:whitesmoke;
    background: #fd9a00;
}
/* end */
#playbody{
    background: whitesmoke;
}
.msg_head{
    color:black;
    text-decoration-style: none
}
.first_head{
    margin-top: 20px;
}

span.spicies{
    margin-top: -5px;
    background: #fd9a00;
    color: whitesmoke;
    padding: 0 5px;
}
p.author{
    margin-top: -8px;
    margin-bottom: -4px;

}